<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-3xl font-semibold text-gray-900 dark:text-green-400">
      <!--      <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">-->
      Require4Testing
    </a>
    <div
      class="w-full bg-white rounded-lg shadow-xl dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-medium leading-tight tracking-normal text-gray-900 md:text-2xl dark:text-white">
          Sign in to your account
        </h1>
        <form class="space-y-4 md:space-y-6" action="#" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
              username</label>
            <input type="text" name="username" id="username" formControlName="username"
                   [class.error]="usernameControl.invalid && usernameControl.touched"
                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Max123" required="">
            @if (usernameControl.invalid && usernameControl.touched) {
              <span class="text-red-400">Username is required</span>
            }
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••"
                   formControlName="password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   required="">
            @if (passwordControl.invalid && passwordControl.touched) {
              <span class="text-red-400">Password is required</span>
            }
          </div>

          <button type="submit"
                  class="w-full text-white dark:bg-indigo-500 h-10 rounded hover:drop-shadow-xl hover:cursor-pointer">
            @if (authService.isLoading()) {
              <app-spinner></app-spinner>
            } @else {
              Sign in
            }
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
